.input-label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1em;
    color: black;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 1em;
    outline: none;
}

input[type="number"]:focus {
    border-color: #2575fc;
    box-shadow: 0 0 4px rgba(37, 117, 252, 0.6);
}

#calculate-button {
    background-color: #2575fc;
    border: none;
    padding: 12px 20px;
    color: #fff;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#calculate-button:hover {
    background-color: #1a5cbf;
}

#result-area {
    margin-top: 20px;
    font-size: 1.2em;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color:black;
    margin-bottom: 30px;
}

#monthly-payment-result {
    color: #d10d0d;
}